html {
    height: 100%;
    background-image: url(../../../art/sprites/ROAD.png);
    background-size: cover;
}

@font-face {
    font-family: font;
    src: url(../../../font/game.TTF);
}

* {
    font-family: font;
}

body {
    background-color: rgba(125, 125, 228, 0.5);
}

#shopBtn {
    width: 1.7in;
    height: .7in;

    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;

    text-align: center;
    color: white;

    padding: 10px;
    float: left;
    font-size: 34px;
    font-weight: 800;

    margin-left :0px;

    cursor: pointer;
}

#shopBtn:hover {
    opacity: 0.8; 
}

#shopBtn:active {
    height: .7in;
    width: 1.7in;
    background: #18B495;
    border-bottom: #16a085 1px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
}

#upgradesBtn {
    width: auto;
    height: .7in;

    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;

    text-align: center;
    color: white;

    padding: 10px;
    float: left;
    font-size: 30px;
    font-weight: 800;

    margin-left: 0px;
    position: absolute;
    top: .81in;
    left: 7px;

    cursor: pointer;
}

#upgradesBtn:hover {
    opacity: 0.8; 
}

#upgradesBtn:active {
    height: .7in;
    width: 1.5in;
    background: #18B495;
    border-bottom: #16a085 1px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
}

#cashMoneyCont {
    width: auto;
    height: .3in;

    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;

    text-align: center;
    color: white;

    padding: 10px;
    float: left;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    right: 10px;
}

#expCont {
    width: auto;
    height: .3in;

    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;

    text-align: center;
    color: white;

    padding: 10px;
    float: left;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    right: 10px;
    top: .7in;
}

#shopGui {
    height: 3in;
    width: 6in;

    border-radius: 6px;
    border: 1px solid black;
    background-color:rgba(125, 125, 228, 0.5);

    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    padding:0;

    display: inline-block;
}

#upgradeGui {
    height: 3in;
    width: 6in;

    border-radius: 6px;
    border: 1px solid black;
    background-color:rgba(125, 125, 228, 0.5);

    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    padding:0;

    display: none;
}

#closeButton{
    width: .7cm;
    height: .7cm;

    font-size: 25px;
    color: red;
    background-color: rgb(214, 214, 233);

    border-radius: 7px;
    border: 1px solid black;
    margin-left: 5.7in;
    margin-top: 3px;

    cursor: pointer;

    position: absolute;
}

#tabsCont {
    display: flex;
    text-align: center;
    margin-left: 10px;
    margin-top: -0.75cm;
}

#tabShop {
    height: 50px; 
    color: white;
    background-color: #1abc9c;
    font-size: 16pt;
    font-weight: 300px;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
}
#tabShop:active {
        position:relative;
        top: 4px;
        font-weight: 510;
}

#itemsBox {
    height: 1.4in;
    width: 5.7s;
    border: 1px solid black;
    margin: 6px;
}
